.modal{
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
  overflow: auto;
}
#checkout{
  padding-top: 120px;
}
.orders,#checkout{
  width: 100%;
  position: relative;
  height: auto;
  float: left;
  z-index: 99;
}
.order-item .badge.badge-warning.text-dark{
  background: darkred;
  color: white;
}
.order-item-left-side{
  width: 200px;
  float: left;
}
.order-item-right-side{
  float: right;
  width: 100px;
}
#checkout .list-orders .list-group-item{
  height:270px;
}
#checkout .list-orders{
  max-width: 500px;float: left;position: relative;
  width: 100%;
}
#checkout-section {
	position: relative;
	float: left;
	width: 100%;
}
.checkout-details{
  max-width: 400px;
  float: left;
  position: relative;
  padding-left: 120px;
}
#payment-method{
  float: left;
  padding-left: 60px;
  max-width: 700px;
  width: 100%;
}
#payment-method ul,#payment-method ul li{
  list-style: none;
}
#payment-method input[type="radio"]{
  width: 40px;
  float: left;
}
body.modal-opened #header{
  z-index: 1 !important;
}
.form-payment input{
  border: 1px solid black;
  margin:5px 10px;
}
#payment-method .list-group-item{
  min-height: 80px;
}
.list-group-item.checkout-item-card .form-payment,
.list-group-item.checkout-item-paypal .form-payment{  
  display: none;
}
.list-group-item.checkout-item-card.selected .form-payment,
.list-group-item.checkout-item-paypal.selected .form-payment{  
  display: block !important;
}
#payment-method .list-group-item.selected{
  min-height: 465px;  
}
.error-msg {
	color: darkred;
	font-size: 10px;
  line-height: 0px;
  width: 100%;
  float: left;
  position: relative;
  -webkit-transition:all 0.6s  ease-in-out;
  -moz-transition:all 0.6s  ease-in-out;
  -o-transition:all 0.6s  ease-in-out;
  transition:all 0.6s  ease-in-out;
}
.checkout-item-card.selected ellipse{
  fill:#0068a1 !important;
}